.header-line{
	list-style: none;
	font-size: 36px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 35px;
}

.ahref{
	text-decoration: none;
	color: cornflowerblue;
	text-shadow: black;
}

.ahref:not(:first-child) {
	margin-left: 200px;

}
